.navbar {
    border-radius: 0;
    margin-top:10px;
    background-color: #475563;
    border:none;
}

.navbar-brand {
    color:#f5ac14;
    font-weight: bold;
}

.navbar-brand:hover {
    color:#f39a14;
    font-weight: bold;
}

.nav li a {
    color: white;
}

.navbar-form input, .navbar-form button {
    border-radius: 0;
}

.navbar-form button {
    background-color: #f5ac14;
    color: #475563;
    border-color: #f5ac14;
}

.navbar-form button:hover {
    background-color: #f39a14;
}