/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #2d3f50; 
    color: #ebede6;
    font-family: 'Roboto', sans-serif;
}